{% extends 'board_game_club/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game.title }} - Details</title>
</head>
<body>
    {% block content %}
    <h1>{{ game.title }}</h1>
    <p>{{ game.description }}</p>
    <p>Available: {{ game.is_available }}</p>

    {% if not game.is_available %}
        <p><strong>Borrowed by:</strong> {{ borrower.username }}</p>
    {% endif %}

    {% if game.is_available %}
        <a href="{% url 'borrow_game' game.id %}">Borrow This Game</a>
    {% else %}
        {% if borrower == user %}
            <a href="{% url 'return_game' game.id %}">Return This Game</a>
        {% endif %}
    {% endif %}

    {% if game.owner == user %}
        <a href="{% url 'edit_game' game.id %}">Edit Game</a>
        <a href="{% url 'delete_game' game.id %}">Delete Game</a>
    {% endif %}

    <p><strong>Last edited:</strong> {{ game.modified_at|date:"F j, Y, g:i a" }}</p>


    <a href="{% url 'game_list' %}">Back to All Games</a>
    {% endblock %}
</body>
</html>
